<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
    <link rel="stylesheet" href="/front/src/main/resources/static/css/style.css"/>
    <link rel="stylesheet" href="/front/src/main/resources/static/css/service-form.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/front/src/main/resources/static/js/script.js"></script>
    <script type="text/javascript" src="/front/src/main/resources/static/js/flight-creator.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
    <img src="/front/src/main/resources/static/images/airplane-logo.png" alt="logo"/>
    <div id="side-menu">
        <ol>
            <li><a href="#">Imie Nazwisko</a>
                <ul>
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                </ul>
            </li>
        </ol>
    </div>
    <div id="greeting">
        <p>
            Dodawanie nowych lotów
        </p>
    </div>
</div>
<div id="center">
    <form id="addFlight">
        <div id="report">
            <input id="flightNumber" type="text" name="flightNumber" placeholder="Podaj numer lotu">
            <br>
            <input id="from" type="text" name="from" placeholder="Podaj miejsce wylotu">
            <br>
            <input id="destination" type="text" name="destination" placeholder="Podaj destynację">
            <br>
            <input id="startDate" type="date" name="startDate" placeholder="Podaj datę wylotu">
            <br>
            <input id="startTime" type="time" name="startTime" placeholder="Podaj czas wylotu">
            <br>
            <input id="endDate" type="date" name="endDate" placeholder="Podaj datę przylotu">
            <br>
            <input id="endTime" type="time" name="endTime" placeholder="Podaj czas wylotu">
            <br>
            <input id="status" type="text" name="status" placeholder="Podaj status">
            <br>
            <button type="submit">Dodaj lot</button>
        </div>
    </form>
    <div id="themeInformation">
        <p>Wiadomości</p>
    </div>
</div>
</body>
</html>