<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/flight-control.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/flight-control.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
    <img src="/images/airplane-logo.png" alt="logo"/>
    <div id="side-menu">
        <ol>
            <li><a href="#">Imie Nazwisko</a>
                <ul>
                    <li><a href="/flight-control">Kontrola lotów</a></li>
                    <li><a href="/flight-creator">Dodawanie lotów</a></li>
                    <li><a href="/order-supply-delivery">Zamawianie dostawy</a></li>
                    <li><a href="/plane-restock-supply">Zaopatrzenie samolotu</a></li>
                    <li><a href="/reservation">Zakup biletów</a></li>
                    <li><a href="/restock-supply">Zaopatrzenie lotniska</a></li>
                    <li><a href="/schedule">Rozkład lotów</a></li>
                    <li><a href="/service-form">Formularz serwisowy</a></li>
                    <li><a href="/tickets">Zakupione bilety</a></li>
                    <li><a href="/users-management">Zarządzanie użytkownikami</a></li>
                    <li><a href="/weather">Pogoda</a></li>
                    <li><a href="/login">Logowanie</a></li>
                    <li><a href="/register">Rejestracja</a></li>
                </ul>
            </li>
        </ol>
    </div>
    <div id="greeting">
        <p>
            Kontrola lotów
        </p>
    </div>
</div>
<div id="center">
    <form id="manageFlights">
        <div id="arrivals">
            <table>
                <tr>
                    <th colspan="6">PRZYLOTY</th>
                </tr>
                <tr>
                    <th>Nr lotu</th>
                    <th>Termin</th>
                    <th>Kierunek</th>
                    <th>Miejsce wylotu</th>
                    <th>Status</th>
                    <th>Pas</th>
                </tr>
                <tr th:each="flight : ${arrivals}">
                    <td th:text="${flight.idFlight}" class="idFlight"></td>
                    <td th:text="${flight.time}" class="time"></td>
                    <td th:text="${flight.destination}" class="destination"></td>
                    <td th:text="${flight.from}" class="from"></td>
                    <td th:text="${flight.status}" class="status"></td>
                    <td>
                        <select class="runway" name="lane">
                            <option th:value="${flight.runway}" th:text="${flight.runway}" selected></option>
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="A3">A3</option>
                            <option value="A4">A4</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div id="departures">
            <table>
                <tr>
                    <th colspan="6">ODLOTY</th>
                </tr>
                <tr>
                    <th>Nr lotu</th>
                    <th>Termin</th>
                    <th>Kierunek</th>
                    <th>Miejsce wylotu</th>
                    <th>Status</th>
                    <th>Pas</th>
                </tr>
                <tr th:each="flight : ${departures}">
                    <td th:text="${flight.idFlight}" class="idFlight"></td>
                    <td th:text="${flight.time}" class="time"></td>
                    <td th:text="${flight.destination}" class="destination"></td>
                    <td th:text="${flight.from}" class="from"></td>
                    <td th:text="${flight.status}" class="status"></td>
                    <td>
                        <select class="runway" name="lane">
                            <option th:value="${flight.runway}" th:text="${flight.runway}" selected></option>
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="A3">A3</option>
                            <option value="A4">A4</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <input type="submit" id="approve" value="Zatwierdź">
    </form>
    <div id="themeInformation">
        <p>Wiadomości</p>
    </div>
</div>
</body>
</html>