<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
    <link rel="stylesheet" href="/front/src/main/resources/static/css/style.css"/>
    <link rel="stylesheet" href="/front/src/main/resources/static/css/flight-control.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/front/src/main/resources/static/js/script.js"></script>
    <script type="text/javascript" src="/front/src/main/resources/static/js/flight-control.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
    <img src="/front/src/main/resources/static/images/airplane-logo.png" alt="logo"/>
    <div id="side-menu">
        <ol>
            <li><a href="#">Imie Nazwisko</a>
                <ul>
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                </ul>
            </li>
        </ol>
    </div>
    <div id="greeting">
        <p>
            Kontrola lotów
        </p>
    </div>
</div>
<div id="center">
    <form id="manageFlights">
        <div id="arrivals">
            <table>
                <tr>
                    <th colspan="5">PRZYLOTY</th>
                </tr>
                <tr>
                    <th>Nr lotu</th>
                    <th>Godzina</th>
                    <th>Status</th>
                    <th>Pas</th>
                </tr>
                <tr th:each="{flight : ${arrivals}}">
                    <td th:text="${flight.number}"><input class="flightNumber" type="hidden" name="flightNumber" th:value="${flight.number}"></td>
                    <td th:text="${flight.time}"></td>
                    <td th:text="${flight.status}"></td>
                    <td>
                        <select class="lane" name="lane">
                            <option th:value="${flight.lane}" th:text="${flight.lane}" selected></option>
                            <option value="A1">A1</option>
                            <option value="A1">A2</option>
                            <option value="A1">A3</option>
                            <option value="A1">A4</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div id="departures">
            <table>
                <tr>
                    <th colspan="5">ODLOTY</th>
                </tr>
                <tr>
                    <th>Nr lotu</th>
                    <th>Godzina</th>
                    <th>Status</th>
                    <th>Pas</th>
                </tr>
                <tr th:each="{flight : ${departures}}">
                    <td th:text="${flight.number}"><input class="flightNumber" type="hidden" name="flightNumber" th:value="${flight.number}"></td>
                    <td th:text="${flight.time}"></td>
                    <td th:text="${flight.status}"></td>
                    <td>
                        <select class="lane" name="lane">
                            <option th:value="${flight.lane}" th:text="${flight.lane}" selected></option>
                            <option value="A1">A1</option>
                            <option value="A1">A2</option>
                            <option value="A1">A3</option>
                            <option value="A1">A4</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <input type="submit" id="approve" value="Zatwierdź">
    </form>
    <div id="themeInformation">
        <p>Wiadomości</p>
    </div>
</div>
</body>
</html>