<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Witaj!</title>
  <link rel="stylesheet" href="/front/src/main/resources/static/css/style.css"/>
  <link rel="stylesheet" href="/front/src/main/resources/static/css/luggage-management.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="/front/src/main/resources/static/js/script.js"></script>
  <script type="text/javascript" src="/front/src/main/resources/static/js/luggage-management.js"></script>
  <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
  <img src="/front/src/main/resources/static/images/airplane-logo.png" alt="logo"/>
  <div id="side-menu">
    <ol>
      <li><a href="#">Imie Nazwisko</a>
        <ul>
          <li><a href="#">A</a></li>
          <li><a href="#">B</a></li>
          <li><a href="#">C</a></li>
        </ul>
      </li>
    </ol>
  </div>
  <div id="greeting">
    <p>
      Zarządzanie bagażem
    </p>
  </div>
</div>
<div id="center">
  <form id="manageLuggage">
    <div id="arrivals">
      <table>
        <tr>
          <th colspan="5">PRZYLOTY</th>
        </tr>
        <tr>
          <th>Nr lotu</th>
          <th>Godzina</th>
          <th>Status rozładunku</th>
          <th>Nr stanowiska samolotu</th>
          <th>Nr stanowiska odbioru bagaży</th>
        </tr>
        <tr>
          <td><input class="flightNumber" type="hidden" name="flightNumber" value="JP2137">JP2137</td>
          <td>21:37</td>
          <td>Oczekiwanie na rozładunek</td>
          <td>
            <select class="parkingSlot" name="parkingSlot">
              <option value="" selected>---</option>
              <option value="P20">P20</option>
              <option value="P21">P21</option>
              <option value="P22">P22</option>
              <option value="P23">P23</option>
            </select>
          </td>
          <td>
            <select class="collectSlot" name="collectSlot">
              <option value="" selected>---</option>
              <option value="F11">F11</option>
              <option value="F12">F12</option>
              <option value="F13">F13</option>
              <option value="F14">F14</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><input type="hidden" name="flightNumber" value="XD1234">XD1234</td>
          <td>20:30</td>
          <td>Bagaże wydane do odbioru</td>
          <td>
            <select name="parkingSlot">
              <option value="" selected>---</option>
              <option value="P20">P20</option>
              <option value="P21">P21</option>
              <option value="P22">P22</option>
              <option value="P23">P23</option>
            </select>
          </td>
          <td>
            <select name="collectSlot">
              <option value="" selected>---</option>
              <option value="F11">F11</option>
              <option value="F12">F12</option>
              <option value="F13">F13</option>
              <option value="F14">F14</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div id="departures">
      <table>
        <tr>
          <th colspan="5">ODLOTY</th>
        </tr>
        <tr>
          <th>Nr lotu</th>
          <th>Godzina</th>
          <th>Status załadunku</th>
          <th>Nr stanowiska zdawania bagażu</th>
          <th>Nr stanowiska samolotu</th>
        </tr>
        <tr>
          <td><input class="flightNumber" type="hidden" name="flightNumber" value="MA3344">MA3344</td>
          <td>00:19</td>
          <td>Oczekiwanie na załadunek</td>
          <td>
            <select class="dropOffSlot" name="dropOffSlot">
              <option value="" selected>---</option>
              <option value="T1">T1</option>
              <option value="T2">T2</option>
              <option value="T3">T3</option>
              <option value="T4">T4</option>
            </select>
          </td>
          <td>
            <select class="parkingSlot" name="parkingSlot">
              <option value="" selected>---</option>
              <option value="P20">P20</option>
              <option value="P21">P21</option>
              <option value="P22">P22</option>
              <option value="P23">P23</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><input type="hidden" name="flightNumber" value="LV6789">LV6789</td>
          <td>01:20</td>
          <td>Załadunek bagaży</td>
          <td>
            <select name="dropOffSlot">
              <option value="" selected>---</option>
              <option value="T1">T1</option>
              <option value="T2">T2</option>
              <option value="T3">T3</option>
              <option value="T4">T4</option>
            </select>
          </td>
          <td>
            <select name="parkingSlot">
              <option value="" selected>---</option>
              <option value="P20">P20</option>
              <option value="P21">P21</option>
              <option value="P22">P22</option>
              <option value="P23">P23</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <input type="submit" id="approve" value="Zatwierdź">
  </form>
  <div id="themeInformation">
    <p>Wiadomości</p>
  </div>
</div>
</body>
</html>