<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Witaj!</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/restock-supply.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <script type="text/javascript" src="/js/plane-restock-supply.js"></script>
  <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
  <img src="/images/airplane-logo.png" alt="logo"/>
  <div id="side-menu">
    <ol>
      <li><a href="#">Imie Nazwisko</a>
        <ul>
          <li><a href="#">A</a></li>
          <li><a href="#">B</a></li>
          <li><a href="#">C</a></li>
        </ul>
      </li>
    </ol>
  </div>
  <div id="greeting">
    <p th:text="${plane.id}"></p>
  </div>
</div>
<div id="center">
  <form id="managePlaneSupplies">
    <div id="supplies">
      <table>
        <tr>
          <th>Id przedmiotu</th>
          <th>Nazwa</th>
          <th>Ilość na stanie</th>
          <th>Zapotrzebowanie</th>
          <th>Status</th>
        </tr>
        <tr th:each="{item : ${plane.items}}">
          <td th:text="${item.id}"><input class="itemId" type="hidden" name="itemId" th:value="${item.id}"></td>
          <td th:text="${item.name}"></td>
          <td th:text="${item.quantity}"></td>
          <td><input class="quantity" type="text" name="quantity"></td>
          <td>
            <button type="submit">Wnioskuj o uzupełnienie</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
  <div id="themeInformation">
    <p>Wiadomości</p>
  </div>
</div>
</body>
</html>