<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Witaj!</title>
  <link rel="stylesheet" href="/front/src/main/resources/static/css/style.css"/>
  <link rel="stylesheet" href="/front/src/main/resources/static/css/schedule.css"/>
  <script type="text/javascript" src="/front/src/main/resources/static/js/script.js"></script>
  <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
  <img src="/front/src/main/resources/static/images/airplane-logo.png" alt="logo"/>
  <div id="side-menu">
    <ol>
      <li><a href="#">Imie Nazwisko</a>
        <ul>
          <li><a href="#">A</a></li>
          <li><a href="#">B</a></li>
          <li><a href="#">C</a></li>
        </ul>
      </li>
    </ol>
  </div>
  <div id="greeting">
    <p>
      Harmonogram
    </p>
  </div>
</div>
<div id="center">
  <div id="arrivals">
    <table>
      <tr>
        <th colspan="4">PRZYLOTY</th>
      </tr>
      <tr>
        <th>Nr lotu</th>
        <th>Z</th>
        <th>Godzina</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>JP2137</td>
        <td>Rzym</td>
        <td>21:37</td>
        <td>Planowy</td>
      </tr>
      <tr>
        <td>XD1234</td>
        <td>Majorka</td>
        <td>23:40</td>
        <td>Opóźniony</td>
      </tr>
    </table>
  </div>
  <div id="departures">
    <table>
      <tr>
        <th colspan="4">ODLOTY</th>
      </tr>
      <tr>
        <th>Nr lotu</th>
        <th>Kierunek</th>
        <th>Godzina</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>MA3344</td>
        <td>Madagaskar</td>
        <td>00:19</td>
        <td>Boarding</td>
      </tr>
      <tr>
        <td>LV6789</td>
        <td>Las Vegas</td>
        <td>01:20</td>
        <td>Odprawa</td>
      </tr>
    </table>
  </div>
  <div id="themeInformation">
    <p>Wiadomości</p>
  </div>
</div>
</body>
</html>