<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Witaj!</title>
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/schedule.css"/>
  <script type="text/javascript" src="js/script.js"></script>
  <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
  <img src="images/airplane-logo.png" alt="logo"/>
  <div id="side-menu">
    <ol>
      <li><a href="#">Imie Nazwisko</a>
        <ul>
          <li><a href="#">A</a></li>
          <li><a href="#">B</a></li>
          <li><a href="#">C</a></li>
        </ul>
      </li>
    </ol>
  </div>
  <div id="greeting">
    <p>
      Harmonogram
    </p>
  </div>
</div>
<div id="center">
  <div id="arrivals">
    <table>
      <tr>
        <th colspan="4">PRZYLOTY</th>
      </tr>
      <tr>
        <th>Nr lotu</th>
        <th>Z</th>
        <th>Godzina</th>
        <th>Status</th>
      </tr>
      <tr th:each="flight : ${arrivals}">
        <td th:text="${flight.number}"></td>
        <td th:text="${flight.from}"></td>
        <td th:text="${flight.time}"></td>
        <td th:text="${flight.status}"></td>
      </tr>

    </table>
  </div>
  <div id="departures">
    <table>
      <tr>
        <th colspan="4">ODLOTY</th>
      </tr>
      <tr>
        <th>Nr lotu</th>
        <th>Kierunek</th>
        <th>Godzina</th>
        <th>Status</th>
      </tr>
      <tr th:each="flight : ${departures}">
        <td th:text="${flight.number}"></td>
        <td th:text="${flight.destination}"></td>
        <td th:text="${flight.time}"></td>
        <td th:text="${flight.status}"></td>
      </tr>
    </table>
  </div>
  <div id="themeInformation">
    <p>Wiadomości</p>
  </div>
</div>
</body>
</html>