<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
    <link rel="stylesheet" href="/front/src/main/resources/static/css/style.css"/>
    <link rel="stylesheet" href="/front/src/main/resources/static/css/tickets.css"/>
    <script type="text/javascript" src="/front/src/main/resources/static/js/script.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
    <img src="/front/src/main/resources/static/images/airplane-logo.png" alt="logo"/>
    <div id="side-menu">
        <ol>
            <li><a href="#">Imie Nazwisko</a>
                <ul>
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                </ul>
            </li>
        </ol>
    </div>
    <div id="greeting">
        <p>
            Bilety
        </p>
    </div>
</div>
<div id="center">
    <div>
        <table>
            <tr>
                <th>Numer biletu</th>
                <th>Z</th>
                <th>Do</th>
                <th>Data</th>
                <th>Godzina</th>
                <th>Imię i nazwisko</th>
                <th>Miejsce</th>
            </tr>
            <tr th:each="{ticket : ${tickets}}">
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.from}"></td>
                <td th:text="${ticket.destination}"></td>
                <td th:text="${ticket.departureDate}"></td>
                <td th:text="${ticket.departureTime}"></td>
                <td th:text="${ticket.passenger}"></td>
                <td th:text="${ticket.seat}"></td>
            </tr>
        </table>
    </div>
    <div id="themeInformation">
        <p>Wiadomości</p>
    </div>
</div>
</body>
</html>