<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/restock-supply.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/user-management.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
    <img src="/images/airplane-logo.png" alt="logo"/>
    <div id="side-menu">
        <ol>
            <li><a href="#">Imie Nazwisko</a>
                <ul>
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                </ul>
            </li>
        </ol>
    </div>
    <div id="greeting">
        <p>
            Zarządzanie użytkownikami
        </p>
    </div>
</div>
<div id="center">
    <form id="manageUsers">
        <div id="supplies">
            <table>
                <tr>
                    <th>E-mail</th>
                    <th>Imię i nazwisko</th>
                    <th>Rola</th>
                    <th>Akcja</th>
                </tr>
                <tr th:each="{user : ${users}}">
                    <td th:text="${user.id}"><input class="userId" type="hidden" name="userId" th:value="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                        <select class="action" name="action">
                            <option value="" selected></option>
                            <option value="ban">Zablokuj</option>
                            <option value="unban">Odblokuj</option>
                            <option value="delete">Usuń</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <button type="submit">Zapisz</button>
    </form>
    <div id="themeInformation">
        <p>Wiadomości</p>
    </div>
</div>
</body>
</html>