<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
    <link rel="stylesheet" href="/front/src/main/resources/static/css/style.css"/>
    <link rel="stylesheet" href="/front/src/main/resources/static/css/weather.css"/>
    <script type="text/javascript" src="/front/src/main/resources/static/js/script.js"></script>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
    <img src="/front/src/main/resources/static/images/airplane-logo.png" alt="logo"/>
    <div id="side-menu">
        <ol>
            <li><a href="#">Imie Nazwisko</a>
                <ul>
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                </ul>
            </li>
        </ol>
    </div>
    <div id="greeting">
        <p>
            Warunki atmosferyczne
        </p>
    </div>
</div>
<div id="center">
    <div class="elfsight-app-78e95c4c-8a77-454f-977d-2977a0354264"></div>
    <div id="themeInformation">
        <p>Wiadomości</p>
    </div>
</div>
</body>
</html>