<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/weather.css"/>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="header">
    <img src="/images/airplane-logo.png" alt="logo"/>
    <div id="side-menu">
        <ol>
            <li><a href="#">Imie Nazwisko</a>
                <ul>
                    <li><a href="/flight-control">Kontrola lotów</a></li>
                    <li><a href="/flight-creator">Dodawanie lotów</a></li>
                    <li><a href="/order-supply-delivery">Zamawianie dostawy</a></li>
                    <li><a href="/plane-restock-delivery">Zaopatrzenie samolotu</a></li>
                    <li><a href="/reservation">Zakup biletów</a></li>
                    <li><a href="/restock-supply">Zaopatrzenie lotniska</a></li>
                    <li><a href="/schedule">Rozkład lotów</a></li>
                    <li><a href="/service-form">Formularz serwisowy</a></li>
                    <li><a href="/tickets">Zakupione bilety</a></li>
                    <li><a href="/users-management">Zarządzanie użytkownikami</a></li>
                    <li><a href="/weather">Pogoda</a></li>
                </ul>
            </li>
        </ol>
    </div>
    <div id="greeting">
        <p>
            Warunki atmosferyczne
        </p>
    </div>
</div>
<div id="center">
    <div class="elfsight-app-78e95c4c-8a77-454f-977d-2977a0354264"></div>
    <div id="themeInformation">
        <p>Wiadomości</p>
    </div>
</div>
</body>
</html>