#arrivals {
    margin: auto;
    padding: 5rem;
    display: block;
}

#departures {
    margin: auto;
    padding: 5rem;
    display: block;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: black solid;
    padding: 0.5rem;
}

input {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}