#arrivals {
    float: left;
    margin-left: 20rem;
    padding: 5rem;
}

#departures {
    float: right;
    margin-right: 20rem;
    padding: 5rem;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: black solid;
    padding: 0.5rem;
}