<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css"/>
    <script type="text/javascript" src="/src/main/resources/static/js/script.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>
    <div id="header">
        <img src="/src/main/resources/static/images/airplane-logo.png" alt="logo"/>
        <div id="side-menu">
            <ol>
                <li><a href="#">Imie Nazwisko</a>
                    <ul>
                        <li><a href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                    </ul>
                </li>
            </ol>
        </div>
        <p>
            Witaj
        </p>
    </div>
    <div id="center">
        <div id="actionButtons">
            <ul>
                <li><a href="#">A</a></li>
                <li><a href="#">B</a></li>
                <li><a href="#">C</a></li>
                <li><a href="#">D</a></li>
                <li><a href="#">E</a></li>
                <li><a href="#">F</a></li>
            </ul>
        </div>
        <div id="themeInformation">
            <p>Wiadomości</p>
        </div>
    </div>
</body>
</html>